.title {
    background-color: #003057;
    margin-left: 40px;
    margin-top: -40px;
}
.body {
    height: 300px;
    width: 100%;
    background-color: #ffffff;
    color: #003057;
    margin-left : -20px;
    margin-right: -20px;
    margin-top: 22px;
    padding-bottom: 0px;
    padding-right: -20px;
}