
<div class="card">
        <div class="title-body">
            <h6 class="card-title">Equities</h6>
          </div>
        <img class="card-img-top" src="../../../assets/images/insight-thumbnail.jpg">
        
        <div class="third-body">
          <h6 class="third-title">Is the Trade War a Blessing in Disquise or China's Tech Sector?</h6>
        </div>
        <div class="hr-class"></div>
        <div class="fourth-body">
          <img src='../../../assets/images/arrow-forward-large.svg' height="10px" style="margin-top: 8px;">
          <div style="color: #D7DADB;margin-left: 3px;">By </div>
          <div style="color: #525354;margin-left: 3px;">Alliance Bernstein</div>
        </div>
        <div class="text-body">Complex ties between US and Chinese <br>
        technology sectors are beung tested by trade war tensions. But some steps taken by the US against Chinese multinational giant Huawei<br>
        Technologue could backfire and spark a new phase of development for the Chinese</div>
        <div style="height: 0.5px;background-color: #D7DADB;"></div>
        <div class="last-body">
          <img src='../../../assets/images/pictogram-regions.svg' height="25px">
          <div style="color: #525354;margin-left: 7px;">APAC </div>
        </div>
</div>