<div class="body1">
    <div style="color: #525354;font-size: 13px;">PORTFOLIO MODEL</div>
    <div style="color: #525354;font-size: 13px;margin-left: 170px;margin-right: 7px;">CURRENT MV</div>
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M11 3.5a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5z"/>
        <path fill-rule="evenodd" d="M10.646 2.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L11 3.707 8.354 6.354a.5.5 0 1 1-.708-.708l3-3zm-9 7a.5.5 0 0 1 .708 0L5 12.293l2.646-2.647a.5.5 0 1 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708z"/>
        <path fill-rule="evenodd" d="M5 2.5a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-1 0V3a.5.5 0 0 1 .5-.5z"/>
      </svg>
</div>
<div class="body2">
    <div style="color: #003057;font-size: 13px;font-weight: 800;">AB Global Diversified - Balanced </div>
    <div style="width: 3px;height: 15px;;background-color: #00C4B3;margin-left: 3px;margin-right: 3px;"></div>
    <div  style="color: #003057;font-size: 13px;font-weight: 800;">EUR<sup style="color: #003057">5</sup></div>
    <div style="color: #248ED8;font-size: 13px;margin-left: 110px;font-weight: 800;">3.8 M</div>
    <svg style="color: #248ED8;margin-left: 6px;margin-top: 2px;" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
      </svg>
</div>
<div style="height: 0.5px;background-color: #D7DADB;margin: 5px;"></div>
<div class="body2">
    <div style="color: #003057;font-size: 13px;font-weight: 800;">Global Exposure - Consevative </div>
    <div style="width: 3px;height: 15px;;background-color: #00C4B3;margin-left: 3px;margin-right: 3px;"></div>
    <div  style="color: #003057;font-size: 13px;font-weight: 800;">GBP<sup style="color: #003057">2</sup></div>
    <div style="color: #248ED8;font-size: 13px;margin-left: 120px;font-weight: 800;">2.5 M</div>
    <svg style="color: #248ED8;margin-left: 6px;margin-top: 2px;" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
      </svg>
</div>
<div style="height: 0.5px;background-color: #D7DADB;margin: 5px;"></div>
<div class="body2">
    <div style="color: #003057;font-size: 13px;font-weight: 800;">Global Exposure - Consevative </div>
    <div style="width: 3px;height: 15px;;background-color: #00C4B3;margin-left: 3px;margin-right: 3px;"></div>
    <div  style="color: #003057;font-size: 13px;font-weight: 800;">USD<sup style="color: #003057">3</sup></div>
    <div style="color: #248ED8;font-size: 13px;margin-left: 115px;font-weight: 800;">2.1 M</div>
    <svg style="margin: 6px;margin-top: 2px" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
      </svg>
</div>
<div class="body2">
    <img src='../../../assets/images/arrow-forward-large.svg' height="6px" style="margin-top: 6px;">
          <div style="color: #525354;margin-left: 3px;font-size: 12px;font-weight: 600;">Banca Alpu Marittime</div>
          <div style="color: #525354;font-size: 13px;margin-left: 235px;font-weight: 800;">1.1 M</div>
</div>
<div class="body2">
    <img src='../../../assets/images/arrow-forward-large.svg' height="6px" style="margin-top: 6px;">
          <div style="color: #525354;margin-left: 3px;font-size: 12px;font-weight: 600;">ABC Bank</div>
          <div style="color: #525354;font-size: 13px;margin-left: 310px;font-weight: 800;">6 K</div>
</div>
<div class="body2">
    <img src='../../../assets/images/arrow-forward-large.svg' height="6px" style="margin-top: 6px;">
          <div style="color: #525354;margin-left: 3px;font-size: 12px;font-weight: 600;">Sanlam Investments</div>
          <div style="color: #525354;font-size: 13px;margin-left: 255px;font-weight: 800;">4 K</div>
</div>
