.card-dashborad{
    margin: 25px;
    text-align: left;
    border-radius: 15px;

    .card-avatar {
        margin: 20px -50px -50px -35px;
        overflow: hidden;
        padding: 0;
        & + .card-body {
            margin-top: 15px;
        }
        img {
            width: 100%;
            height: auto;
        }
    }
  
    .card-body + .card-footer {
        margin-top: -15px;
        border-radius: 10px;
    }
  
    
    .card-avatar {
      max-width: 70px;
      max-height: 80px;
      
    }
  }
  .body-card{
      padding-bottom: 30px;
      text-align: center;
    
  }
  .header-body{
    height: 80px;
    border-radius: 15px 15px 0px 0px;
  }
  