<div class=" content">
    <div class=" row">
      <div class=" col-lg-8">
        <app-dashboard-card></app-dashboard-card>
        <app-dashboard-card></app-dashboard-card>
          <div class=" row">
            <div class=" col-lg-6 col-md-12">
              <app-dashboard-card></app-dashboard-card>
            </div>
            <div class=" col-lg-6 col-md-12">
              <app-dashboard-card></app-dashboard-card>
            </div>
          </div>
      </div>
      <div class=" col-lg-4">
        <div class="card card-dashborad">
          <div class="card-avatar">
              <a >
                  <img class="img" src="../../../assets/images/3_books.svg" />
              </a>
          </div>
          <div class="card-body">
              <app-last-insight-card></app-last-insight-card>
          </div>
      </div>
      </div>
    </div>
    
  </div>
  