.card-dashborad{
    margin: 25px;
    text-align: left;
    border-radius: 15px;
    background-image: linear-gradient(to right,#003057, #248ED8);

    .card-avatar {
        margin: 20px -50px -50px -35px;
        overflow: hidden;
        padding: 0;
        & + .card-body {
            margin-top: 15px;
        }
        img {
            width: 100%;
            height: auto;
        }
    }
  
    .card-body + .card-footer {
        margin-top: -15px;
        border-radius: 10px;
    }
  
    
    .card-avatar {
      max-width: 70px;
      max-height: 80px;
      
    }
  }
  .title{
    color : #D7DADB;
    text-align: left;
    margin-left: 40px;
    margin-top: -40px;
    height: 50px;
  }
  .body-card{
      padding: 50px;
    
  }
  .header-body{
    height: 80px;
    border-radius: 15px 15px 0px 0px;
  }
  .img-dashboard{
    
    margin: -180px 0px 150px 735px;
    overflow: hidden;
    padding: 0;
  }